{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome!</h1>
            <p>Welcome to the Blog! Here we share our thoughts and ideas about Life and Experiences.</p>
            <p>Go visit us at our sites <a href="Your Profile">Name of your profile</a> to connect with us!</p>
            <p>
                <a class="btn btn-primary" href="/post" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}
